

:root {
  font-family: "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 确保 ColorPicker 的弹窗在 Dropdown 之上 */
.ant-color-picker-popup,
.ant-popover.ant-color-picker-popup {
  z-index: 1050 !important;
}
