

:root {
  font-family: "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
